
CREATE DATABASE [$(dbName)]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'$(dbName)_dummy', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\$(dbName)_dummy.mdf' , SIZE = 3072KB , FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'$(dbName)_dummy_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\$(dbName)_dummy_log.ldf' , SIZE = 1024KB , FILEGROWTH = 10%)
GO
USE [$(dbName)]
GO
IF NOT EXISTS (SELECT name FROM sys.filegroups WHERE is_default=1 AND name = N'PRIMARY') ALTER DATABASE [$(dbName)] MODIFY FILEGROUP [PRIMARY] DEFAULT
GO
